<h1><%= @user.username %>'s profile</h1>
<% if @user.id != session[:user_id] %>
  <h1><%= @logged_in_user.username.upcase %>, YOU ARE NOT ALLOWED TO VIEW <%= @user.username.upcase %>'S PAGE</h1>
<% else %>
  <% @user.pictures.each do |picture| %>
    <%= link_to picture.title, picture %>
    <p><img src='<%=picture.image_url%>'></P>
  <% end %>
<% end %>
