<h1><%= @user.username %>'s profile</h1>
<% if @user.id != session[:user_id] %>
  <h1><%= @logged_in_user.username.upcase %>, YOU ARE NOT ALLOWED TO VIEW <%= @user.username.upcase %>'S PAGE</h1>
<% else %>
  <% @user.pictures.each do |picture| %>
    <%= link_to picture.title, picture %>
    <p><img src='<%=picture.image_url%>'></P>
  <% end %>
<% end %>

<% if session[:user_id] == @user.id %>
  <h4>Add Picture: </h4>
  <%= form_with(model: @picture, local: true)  do |form| %>
  <%= form.text_field :image_url, placeholder: "URL"%>
  <%= form.text_field :title, placeholder: "title" %>
  <%#= form.fields_for :tags do |tag_form|%>
    <%= form.text_field :name, placeholder:"new tag"%>

    <%#end%>
  <%= form.collection_check_boxes :tag_ids, Tag.all , :id, :name %>




  <%= form.submit "Add Picture" %>
  <% end %>
<%end%>
