<!DOCTYPE html>
<html>
  <head>
    <title>PictureApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if session[:user_id] %>
      <h1>Welcome, <%=link_to @logged_in_user.username, user_path(@logged_in_user.id)%></h1>
      <%= button_to 'Logout', '/sessions', method: 'delete' %>
      <h2>Click <%= link_to "here ", pictures_path %> to view your feed.</h2>
    <% else %>
      <h1> Welcome, <%=@logged_in_user.username%></h1><br>
     <%= link_to 'Sign Up', new_user_path %> <%= link_to 'Sign In', new_session_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
